
* { 
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: coral;
}

.contact-links {
    background-color:cadetblue;
    border: 5px solid;
    border-color: bisque;
}

img {
    border: 2.5px solid; color:cornflowerblue; 
}

.contact-me {
    border: 2.5px solid; border-color: cornflowerblue;
    background-color: bisque;
}

footer {
    color: bisque;
    background-color: cadetblue;
    border: 5px solid;
}